<?xml version="1.0"?>
<config>
    <modules>
        <Vindi_Subscription>
            <version>1.0.0</version>
        </Vindi_Subscription>
    </modules>
    <global>
        <catalog>
            <product>
                <type>
                    <subscription translate="label" module="vindi_subscription">
                        <label>Assinatura Vindi</label>
                        <model>vindi_subscription/product_type</model>
                        <is_qty>0</is_qty>
                        <composite>0</composite>
                        <can_use_qty_decimals>0</can_use_qty_decimals>
                    </subscription>
                </type>
            </product>
        </catalog>
        <resources>
            <vindi_subscription_setup>
                <setup>
                    <module>Vindi_Subscription</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </vindi_subscription_setup>
        </resources>
        <blocks>
            <vindi_subscription>
                <class>Vindi_Subscription_Block</class>
            </vindi_subscription>
        </blocks>
        <helpers>
            <vindi_subscription>
                <class>Vindi_Subscription_Helper</class>
            </vindi_subscription>
        </helpers>
        <models>
            <vindi_subscription>
                <class>Vindi_Subscription_Model</class>
            </vindi_subscription>
        </models>
        <traits>
            <vindi_subscription>
                <class>Vindi_Subscription_Trait_PaymentMethod</class>
            </vindi_subscription>
        </traits>
    </global>
    <adminhtml>
        <sales>
            <order>
                <create>
                    <available_product_types>
                        <subscription/>
                    </available_product_types>
                </create>
            </order>
        </sales>
    </adminhtml>
    <default>
        <payment>
            <vindi_creditcard>
                <active>0</active>
                <model>vindi_subscription/creditCard</model>
                <title>Cart&#xE3;o de Cr&#xE9;dito</title>
                <payment_action>capture</payment_action>
                <allowspecific>0</allowspecific>
            </vindi_creditcard>
            <vindi_bankslip>
                <active>0</active>
                <model>vindi_subscription/bankSlip</model>
                <title>Boleto Banc&#xE1;rio</title>
                <payment_action>capture</payment_action>
                <allowspecific>0</allowspecific>
            </vindi_bankslip>
        </payment>
    </default>
    <frontend>
        <routers>
            <subscription>
                <use>standard</use>
                <args>
                    <module>Vindi_Subscription</module>
                    <frontName>vindi_subscription</frontName>
                </args>
            </subscription>
        </routers>
        <events>
            <checkout_cart_update_items_before>
                <observers>
                    <vindi_subscription_checkQuantity>
                        <class>vindi_subscription/observer</class>
                        <method>checkQuantity</method>
                    </vindi_subscription_checkQuantity>
                </observers>
            </checkout_cart_update_items_before>
            <checkout_cart_product_add_after>
                <observers>
                    <vindi_subscription_checkQuantity>
                        <class>vindi_subscription/observer</class>
                        <method>checkQuantity</method>
                    </vindi_subscription_checkQuantity>
                </observers>
            </checkout_cart_product_add_after>
        </events>
    </frontend>
</config>

