<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         verbose="true"
         tap="true"
>
    <testsuites>
        <testsuite name="Init">
            <directory suffix="Test.php">VindiTest/Initialize</directory>
        </testsuite>
    </testsuites>
    <testsuites>
        <testsuite name="Functional_Block_Config">
            <directory suffix="Test.php">VindiTest/Functional/Block/Config</directory>
        </testsuite>
    </testsuites>
    <testsuites>
        <testsuite name="Functional_Block_Form">
            <directory suffix="Test.php">VindiTest/Functional/Block/Form</directory>
        </testsuite>
    </testsuites>
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">VindiTest/Unit</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">../../Subscription</directory>
            <exclude>
                <directory suffix=".php">../tests</directory>
                <directory suffix=".php">../sql</directory>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="docs/test/coverage" charset="UTF-8" yui="true" highlight="true" lowUpperBound="35" highLowerBound="70"/>
        <log type="testdox-html" target="docs/test/index.html"/>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
    </logging>
</phpunit>