<?xml version="1.0"?>
<config>
    <modules>
        <Vindi_Subscription>
            <version>1.5.1</version>
        </Vindi_Subscription>
    </modules>
    <global>
        <catalog>
            <product>
                <type>
                    <subscription translate="label" module="vindi_subscription">
                        <label>Assinatura Vindi</label>
                        <model>vindi_subscription/product_type</model>
                        <is_qty>0</is_qty>
                        <composite>0</composite>
                        <can_use_qty_decimals>0</can_use_qty_decimals>
                    </subscription>
                </type>
            </product>
        </catalog>
        <resources>
            <vindi_subscription_setup>
                <setup>
                    <module>Vindi_Subscription</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </vindi_subscription_setup>
        </resources>
        <blocks>
            <vindi_subscription>
                <class>Vindi_Subscription_Block</class>
            </vindi_subscription>
            <checkout>
                <rewrite>
                    <onepage_success>Vindi_Subscription_Block_Onepage_Success</onepage_success>
                </rewrite>
            </checkout>
        </blocks>
        <helpers>
            <vindi_subscription>
                <class>Vindi_Subscription_Helper</class>
            </vindi_subscription>
        </helpers>
        <models>
            <vindi_subscription>
                <class>Vindi_Subscription_Model</class>
            </vindi_subscription>
        </models>
        <traits>
            <vindi_subscription>
                <class>Vindi_Subscription_Trait_PaymentProcessor</class>
                <class>Vindi_Subscription_Trait_LogMessenger</class>
                <class>Vindi_Subscription_Trait_ExceptionMessenger</class>
            </vindi_subscription>
        </traits>
        <sales>
            <order>
                <states>
                    <pending_payment>
                        <visible_on_front>1</visible_on_front>
                    </pending_payment>
                </states>
            </order>
        </sales>
    </global>
    <adminhtml>
        <sales>
            <order>
                <create>
                    <available_product_types>
                        <subscription/>
                    </available_product_types>
                </create>
            </order>
        </sales>
        <layout>
            <updates>
                <vindi_subscription>
                    <file>vindi_subscription.xml</file>
                </vindi_subscription>
            </updates>
        </layout>
        <events>
            <adminhtml_sales_order_create_process_data>
                <observers>
                    <vindi_subscription_saveAdminHtmlOrder>
                        <class>vindi_subscription/observer</class>
                        <method>validateAdminHtmlOrder</method>
                    </vindi_subscription_saveAdminHtmlOrder>
                </observers>
            </adminhtml_sales_order_create_process_data>
        </events>
        <translate>
            <modules>
                <subscription>
                    <files>
                        <default>Vindi_Subscription.csv</default>
                    </files>
                </subscription>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <vindi_subscription>
            <general>
                <send_nfe_information>0</send_nfe_information>
                <sandbox_mode>https://app.vindi.com.br/api/v1/</sandbox_mode>
            </general>
        </vindi_subscription>
        <payment>
            <vindi_bankslip>
                <active>0</active>
                <model>vindi_subscription/bankSlip</model>
                <title>Boleto Banc&#xE1;rio</title>
                <payment_action>capture</payment_action>
                <allowspecific>0</allowspecific>
            </vindi_bankslip>
            <vindi_creditcard>
                <active>0</active>
                <model>vindi_subscription/creditCard</model>
                <title>Cart&#xE3;o de Cr&#xE9;dito</title>
                <payment_action>capture</payment_action>
                <enable_installments>1</enable_installments>
                <allowspecific>0</allowspecific>
                <min_installment_value>5</min_installment_value>
                <max_installments_number>1</max_installments_number>
            </vindi_creditcard>
            <vindi_debitcard>
                <active>0</active>
                <model>vindi_subscription/debitCard</model>
                <title>Cart&#xE3;o de D&#xE9;bito</title>
                <payment_action>capture</payment_action>
                <allowspecific>0</allowspecific>
            </vindi_debitcard>
        </payment>
    </default>
    <frontend>
        <layout>
            <updates>
                <vindi_subscription>
                    <file>vindi_subscription.xml</file>
                </vindi_subscription>
            </updates>
        </layout>
        <routers>
            <subscription>
                <use>standard</use>
                <args>
                    <module>Vindi_Subscription</module>
                    <frontName>vindi_subscription</frontName>
                </args>
            </subscription>
        </routers>
        <events>
            <checkout_cart_update_items_before>
                <observers>
                    <vindi_subscription_updateItems>
                        <class>vindi_subscription/observer</class>
                        <method>updateItems</method>
                    </vindi_subscription_updateItems>
                </observers>
            </checkout_cart_update_items_before>
            <checkout_cart_product_add_after>
                <observers>
                    <vindi_subscription_addToCart>
                        <class>vindi_subscription/observer</class>
                        <method>addToCart</method>
                    </vindi_subscription_addToCart>
                </observers>
            </checkout_cart_product_add_after>
        </events>
        <translate>
            <modules>
                <subscription>
                    <files>
                        <default>Vindi_Subscription.csv</default>
                    </files>
                </subscription>
            </modules>
        </translate>
    </frontend>
</config>
